.site-footer {
    margin-top: auto;
}

.article-content {  
    pre,  
    .highlight {  
        background-color: #fff;  
          
        padding: 0px 30px;
          
        [data-scheme="dark"] & {  
            background-color: #424242;  
        }
    }  

    .highlight pre {
        padding: 10px 10px;
        
        color: unset;
        border: none;
        background: none;

        font-size: 15px;
    }
}
